---
---

@import "{{ site.theme }}";

h1, h2, h3, h4, h5, h6 { color: #159957; font-weight: normal }
a:hover { font-weight: normal; text-decoration: underline }
code { background-color: #f3f6fa; padding: 2px 4px; color: #567482 }
div.excerpt { margin-bottom: 3em }